{% extends 'main_page/index.html.twig' %}
{% block title %}Отзывы об учреждении{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Отзывы об учреждении</h1>
    <div style="display: flex;" id="text-confirmation">
        <div>
            <p>Я подтверждаю свое согласие:</p>
            <p>На использование в качестве каналов передачи информации, содержащейся в обращении, открытых каналов связи сети Интернет.</p>
            <p><a href="https://www.rg.ru/documents/2006/07/29/personaljnye-dannye-dok.html">На обработку моих персональных данных в соответствии с федеральным законом РФ от 27.07.2006 № 152-ФЗ "О персональных данных".</a></p>
            <p>В случае согласия с установленным порядком нажмите "Согласен" для продолжения работы. Если Вы не согласны, нажмите "Не согласен" для завершения работы.</p>
            <p>
                    <a  href="#" id="btn-yes">Согласен</a>&nbsp; / &nbsp;<a href="/" class="btn btn-link">Не согласен</a>
            </p>
        </div>
    </div>
    <div style="display: none;" id="div-otziv" class="news-div-1">
        {# {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.text) }}
        {{ form_row(form.file) }}
        <button type="submit">Submit</button>
        {{ form_end(form) }} #}

        {{ form_start(form) }}
    <div style="width: 350px;" class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    
    <div  style="width: 350px;" class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>
    
    <div  style="width: 350px;" class="form-group">
        {{ form_label(form.text) }}
        {{ form_widget(form.text, {'attr': {'class': 'form-control', 'rows': 4}}) }}
        {{ form_errors(form.text) }}
    </div>
    
    <div  style="width: 350px;" class="form-group">
        {{ form_label(form.file) }}
        {{ form_widget(form.file, {'attr': {'class': 'form-control-file'}}) }}
        {{ form_errors(form.file) }}
    </div>
    
    <button type="submit" class="btn btn-primary">Отправить</button>
{{ form_end(form) }}
</div>
{% for pageCont in pageData|reverse %}
    {% if pageCont is not empty %}
            <div class="news-div">
                    <div class="news-date-div">
                        <div class="news-border"></div>
                        <div class="news-date">
                            {{ pageCont.date|date('d.m.Y')|raw }}
                            {{ pageCont.name|raw }}
                        </div>
                        <div class="news-number">
                        {{ pageCont.id|raw }}
                        
                        </div>
                    </div>
                    <div class="news-label">
                        <p>{{ pageCont.text|raw }}</p>
                        <br>
                        {% if pageCont.file is not empty %}
                            <a href="{{asset('/assets/upload/files/')}}{{ pageCont.file|raw }}">Вложенный файл</a>
                        {% endif %}
                        <br>
                    </div>

                </div>
    {% endif %}
{% endfor %}
    
    
{% endblock %}