{% extends 'main_page/index.html.twig' %}

{% block main %}
<h3 class="label-contactPod">Структура и органы управления образовательной организацией</h1>
    <div class="contactPod-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2b029b903f80c042f63b51468f6d79fb117629b2225fe68e970783d983eb9aba&amp;width=940&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
<div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th colspan="2">Контактное лицо</th>
			<th rowspan="2">Телефон</th>
			<th colspan="2">Время удобное для общения</th>
			<th rowspan="2">E-mail</th>
		</tr>
		<tr>
			<th>Должность</th>
			<th>Фамилия, Имя, Отчество</th>
			<th>День недели</th>
			<th>Время</th>
		</tr>
	</thead>
	<tbody>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
		<tr>
			<td>{{ pageCont.jobTitle|raw }}</td>
			<td>{{ pageCont.name|raw }}</td>
			<td>{{ pageCont.phone|raw }}</td>
			<td>{{ pageCont.dayWeek|raw }}</td>
			<td>{{ pageCont.time|raw }}</td>
			<td>{{ pageCont.email|raw }}</td>
		</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}