{% extends 'main_page/index.html.twig' %}

{% block main %}

{# {% for pageCont in pageData %} #}
    {% if pageData is not empty %}
        {# {% if pageCont.id ==  %} #}
            
        
            <div class="news-div">
                <div class="news-date-div">
                    <div class="news-border"></div>
                        <div class="news-date">
                            {{ pageData.date|date('d-m-Y')|raw }}
                        </div>
                    </div>
                <div class="news-label">
                    <h1>{{ pageData.title|raw }}</h1>
                    <p>{{ pageData.firstText|raw }}</p>
                    {% for photo in pageData.firstPhoto %}
                        <img src="{{ asset('/assets/upload/img/') ~ photo|raw }}" alt="">
                    {% endfor %}
                    <p>{{ pageData.secondText|raw }}</p>
                    {% for photo in pageData.secondPhoto %}
                        <img src="{{ asset('/assets/upload/img/') ~ photo|raw }}" alt="">
                    {% endfor %}
                    {% for file in pageData.file %}
                        <a href="{{ asset('/assets/upload/files/') ~ file|raw }}"></a>
                    {% endfor %}
                    
                </div>
            </div>
        {# {% endif %} #}
    {% endif %}
{# {% endfor %} #}

{% endblock %}