{% extends 'main_page/index.html.twig' %}
{% block title %}Наши достижения{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Наши достижения</h1>
    <div class="label-contactPod">
{% for pageCont in pageData1 %}
        {% if pageCont is not empty %}
			<p>{{ pageCont.title|raw }}</p>
			<p>{{ pageCont.firstText|raw }}</p>
		{% endif %}
{% endfor %}
    <table class="table-ourAch"   border="1" style="width:700px;">
{% for pageCont in pageData1 %}
    {% if pageCont is not empty %}
		<p>{{ pageCont.titleTable|raw }}</p>
	{% endif %}
{% endfor %}
	
	<tbody>
	
{% for pageCont in pageData2 %}
    {% if pageCont is not empty %}
		<tr>
			<td>{{ pageCont.championship|raw }}</td>
			<td>&nbsp;{{ pageCont.count|raw }} &nbsp; &nbsp;</td>
		</tr>
	{% endif %}
{% endfor %}
	</tbody>
    </table>
	<br>
    <div>
{% for pageCont in pageData1 %}
    {% if pageCont is not empty %}
		<p>{{ pageCont.secondText|raw }}</p>
	{% endif %}
{% endfor %}
    </div>
    </div>
	
{% endblock %}