{% extends 'main_page/index.html.twig' %}
{% block title %}Фотогалерея{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Фотогалерея</h1>
<div class="photo-galery">
    <div  class="platform-for-photo-main">
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
       <div class="platform-for-photo">
            <a href="{{'/photoAndVideo/photoGallery/'}}{{pageCont.id}}">
                <img class="for-galery" src="{{asset('/assets/upload/img/')}}{{ pageCont.mainPhoto|raw }}" alt="">
                <span>{{pageCont.title}}</span>
                {% set count = pageCont.photo|length %}
                <span>{{ count }}&nbsp;фото</span>
            </a>
       </div>
    {% endif %}
{% endfor %}
{% endblock %}