{% extends 'main_page/index.html.twig' %}

{% block title %}PageController!{% endblock %}

{% block main %}
    <div class="flex-all-prepod">
        <fieldset class="teacher-fieldset-1">
        <legend class="teacher-legend-1">О руководителе образовательной организации</legend>
                    <div>
        {% for pageCont in pageData1 %}
            {% if pageCont is not empty %}
                {% if pageCont.categoryJobTitle == 'high' %}
            
                
                        <div><h4>{{ pageCont.name|raw }}</h4></div>
                    
                        <ul>
                        <div class="teacher-flex-box-1">
                            <img class="directro-logo-teacher" src="{{'/assets/upload/img/'}}{{ pageCont.photo|default('siluet.png')|raw }}" alt="">
                            <div>
                                <ul>
                                    <li>
                                        <b>Должность: </b>
                                        <p>{{ pageCont.jobTitle|raw }}</p>
                                    </li>
                                    <li>
                                        <b>Тел.: </b>
                                        <i><a>{{ pageCont.phone|raw }}</a></i>
                                    </li>
                                    <li>
                                        <b>Email: </b>
                                        <i><a>{{ pageCont.email|raw }}</a></i>
                                    </li>
                                    <li>
                                        <b>Приём:</b>
                                        <p>{{ pageCont.priem|raw }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </fieldset>
    <fieldset class="teacher-fieldset-1">
    <legend class="teacher-legend-2">О заместителях руководителя образовательной организации</legend>
        {% for pageCont in pageData1 %}
            {% if pageCont is not empty %}
                {% if pageCont.categoryJobTitle == 'midle' %}
                    <div class="prepod-div">
                            <div><h5>{{ pageCont.name|raw }}</h5></div>
                        <ul>
                            <div class="teacher-flex-box-1">
                                    <img class="directro-logo-teacher" src="{{'/assets/upload/img/'}}{{ pageCont.photo|default('siluet.png')|raw }}" alt="">
                                <div>
                                    <ul>
                                        <li>
                                            <b>Должность: </b>
                                            <p>{{ pageCont.jobTitle|raw }}</p>
                                        </li>
                                        <li>
                                            <b>Тел.: </b>
                                            <i><a>{{ pageCont.phone|raw }}</a></i>
                                        </li>

                                        <li>
                                            <b>Email: </b>
                                            <i><a>{{ pageCont.email|raw }}</a></i>
                                        </li>

                                        <li>
                                            <b>Приём:</b>
                                            <p>{{ pageCont.priem|raw }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </fieldset>
    </div>
 <div> 
 <div class="file-teacher">
    <fieldset class="teacher-fieldset-1">
        <legend class="teacher-legend-2">Персональный состав педагогических работников каждой реализуемой образовательной программы в форме электронного документа</legend>
            <ul>
        {% for pageCont in pageData2 %}
            {% if pageCont is not empty %}
                <li>
                    <a href="{{'/assets/upload/files/'}}{{ pageCont.file|raw }}">{{ pageCont.title|raw }}</a>
                </li>
            {% endif %}
        {% endfor %}
            </ul>
    </fieldset>
</div> 
    <div class="all-screen-center">
        <i><a>Фотогалерея сотрудников</a></i>
            <div class="flex-column-galery">
                <div class="flex-galery-sotrudnik">
        {% for pageCont in pageData1 %}
            {% if pageCont is not empty %}
                {% if pageCont.categoryJobTitle == 'low' %}
                    <div class="element-galery">
                        <div ><img class="galery-sotrudnik" src="{{'/assets/upload/img/'}}{{ pageCont.photo|default('siluet.png')|raw }}"></div>
                        <p>{{ pageCont.name|raw }}</p>
                        <p>{{ pageCont.jobTitle|raw }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
                </div>
            </div>
    </div>
{% endblock %}