{% extends 'main_page/index.html.twig' %}

{% block title %}PageController!{% endblock %}

{% block main %}
    <div class="flex-all-prepod">
        <fieldset class="teacher-fieldset-1">
        <legend class="teacher-legend-1">О руководителе образовательной организации</legend>
                    <div class="prepod-div">
                        <div><h4>Федосеева Дарья Сергеевна</h4></div>
                        <ul>
                        <div class="teacher-flex-box-1">
                            <div ><img class="directro-logo-teacher" src="{{'/assets/img/director-logo.jpg'}}" alt=""></div>
                            <div>
                                <ul>
                                    <li>
                                        <b>Должность: </b>
                                        <p>Директор</p>
                                    </li>
                                    <li>
                                        <b>Тел.: </b>
                                        <i><a class="link-color">(383) 342 95 26</a></i>
                                    </li>
                                    <li>
                                        <b>Email: </b>
                                        <i><a class="link-color">fedoseevads@edu54.ru</a></i>
                                    </li>
                                    <li>
                                        <b>Приём:</b>
                                        <p>
                                        Режим работы: пн.-пт. с 8-30 до 17-00
                                        <br>
                                        перерыв на обед с 12-00 до 12-30
                                        <br>
                                        выходной суббота, воскресенье.
                                        <br>
                                        прием по личным вопросам: понедельник с 16.00-17.00
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </ul>
                    </div>
        </fieldset>
    <fieldset class="teacher-fieldset-1">
    <legend class="teacher-legend-2">О заместителях руководителя образовательной организации</legend>

            <div class="prepod-div">
                <div><h5>Мордвинова Екатерина Владимировна</h5></div>
                    <ul>
                     <div class="teacher-flex-box-1">
                        <div><img class="directro-logo-teacher" src="{{'/assets/img/siluet.png'}}" alt=""></div>
                        <div>
                            <ul>
                                <li>
                                    <b>Должность: </b>
                                    <p>Заместитель директора по учебной работе</p>
                                </li>
                                <li>
                                    <b>Тел.: </b>
                                    <i><a class="link-color">(383) 342 95 26</a></i>
                                </li>
                                <li>
                                    <b>Email: </b>
                                    <i><a class="link-color">mordvinovaev@edu54.ru</a></i>
                                </li>
                                <li>
                                    <b>Приём:</b>
                                    <p>
                                    Режим работы: пн.-пт. с 8-00 до 16-30
                                    <br>
                                    перерыв на обед с 11-30 до 12-00
                                    <br>
                                    выходной день: суббота, воскресенье
                                    <br>
                                    Прием по личным вопросам: четверг с 14:00 до 16:30
                                    </p>
                                </li>
                            </ul>
                        </div>
                     </div>
                    </ul>
                </div>
                <div class="prepod-div">
                    <div><h5>Петрова Юлия Николаевна</h5></div>
                    <ul>
                     <div class="teacher-flex-box-1">
                        <div><img class="directro-logo-teacher" src="{{'/assets/img/siluet.png'}}" alt=""></div>
                        <div>
                            <ul>
                                <li>
                                    <b>Должность: </b>
                                    <p>Заместитель директора по административно-хозяйственной работе</p>
                                </li>
                                <li>
                                    <b>Тел.: </b>
                                    <i><a class="link-color">(383) 342 63 49</a></i>
                                </li>
                                <li>
                                    <b>Email: </b>
                                    <i><a class="link-color">petrovayun@edu54.ru</a></i>
                                </li>
                                <li>
                                    <b>Приём:</b>
                                    <p>
                                    Режим работы: пн.-пт. с 8-30 до 17-00
                                    <br>
                                    перерыв на обед с 12-00 до 12-30
                                    <br>
                                    выходной суббота, воскресенье.
                                    <br>
                                    прием по личным вопросам: пятница с 14.00-16.00
                                    </p>
                                </li>
                            </ul>
                        </div>
                     </div>
                    </ul>
                </div>
                <div class="prepod-div">
                    <div><h5>Девищенко Ольга Борисовна</h5></div>
                    <ul>
                     <div class="teacher-flex-box-1">
                        <div><img class="directro-logo-teacher" src="{{'/assets/img/a349f34025c59cd29e0aa40931d605c0.jpg'}}" alt=""></div>
                        <div>
                            <ul>
                                <li>
                                    <b>Должность: </b>
                                    <p>Заместитель директора по учебно-воспитательной работе</p>
                                </li>
                                <li>
                                    <b>Тел.: </b>
                                    <i><a>(383) 342 95 26</a></i>
                                </li>
                                <li>
                                    <b>Email: </b>
                                    <i><a>devischenkoob@edu54.ru</a></i>
                                </li>
                                <li>
                                    <b>Приём:</b>
                                    <p>
                                    Режим работы: пн.-пт. с 8-30 до 17-00
                                    <br>
                                    перерыв на обед с 12-00 до 12-30
                                    <br>
                                    выходной суббота, воскресенье.
                                    <br>
                                    прием по личным вопросам: пятница с 14.00-16.00
                                    </p>
                                </li>
                            </ul>
                        </div>
                     </div>
                    </ul>
                </div>
        </fieldset>
    </div>
 <div> 
 <div class="file-teacher">
    <fieldset class="teacher-fieldset-1">
        <legend class="teacher-legend-2">Персональный состав педагогических работников каждой реализуемой образовательной программы в форме электронного документа</legend>
            <ul>
                <li>
                <a href="" >Название файла</a>
                </li>
            </ul>
    </fieldset>
</div> 
    <div class="all-screen-center">
        <i><a class="link-color">Фотогалерея сотрудников</a></i>
        <div class="flex-column-galery">
        <div class="flex-galery-sotrudnik">
         <div class="element-galery">
            <div >
            <img class="galery-sotrudnik" src="{{'/assets/img/a349f34025c59cd29e0aa40931d605c0.jpg'}}">
            </div>
            <p>Ф.И.О сотрудника</p>
            <p>Должность</p>
         </div>
         <div class="element-galery">
            <div >
            <img class="galery-sotrudnik" src="{{'/assets/img/a349f34025c59cd29e0aa40931d605c0.jpg'}}">
            </div>
            <p>Ф.И.О сотрудника</p>
            <p>Должность</p>
         </div>
         <div class="element-galery">
            <div >
            <img class="galery-sotrudnik" src="{{'/assets/img/a349f34025c59cd29e0aa40931d605c0.jpg'}}">
            </div>
            <p>Ф.И.О сотрудника</p>
            <p>Должность</p>
         </div>
         <div class="element-galery">
            <div >
            <img class="galery-sotrudnik" src="{{'/assets/img/a349f34025c59cd29e0aa40931d605c0.jpg'}}">
            </div>
            <p>Ф.И.О сотрудника</p>
            <p>Должность</p>
         </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
