{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Это важно знать</h1>
<div class="label-contactPod">
    <div>
        <ul>
        {% for pageCont in pageData %}
            {% if pageCont.link is not empty %}
                <li><a class="color-txt" href="{{ pageCont.link|raw }}">{{ pageCont.title|raw }}</a></li>
            {% endif %}
        {% endfor %}
        <p>----------------------</p>
        {% for pageCont in pageData %}
            {% if pageCont.link is empty %}
                <li><a class="color-txt" href="{{asset('/assets/upload/files/')}}{{ pageCont.file|raw }}">{{ pageCont.title|raw }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}