{% extends 'main_page/index.html.twig' %}
{% block title %}График проведения медецинских осмотров{% endblock %}
{% block main %}
    <h1 class="label-contactPod">График проведения медецинских осмотров</h1>
    <div class="medical-exam-label">
        <strong>График</strong>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
		<p>{{ pageCont.title|raw }}</p>
	{% endif %}
{% endfor %}
    </div>
    <div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th colspan="5">Дни недели</th>
		</tr>
		<tr>
			<th>понедельник</th>
			<th>вторник</th>
			<th>среда</th>
			<th>четверг</th>
			<th>пятница</th>
		</tr>
	</thead>
	<tbody>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
		<tr>
			<td>{{ pageCont.monday|raw }}</td>
			<td>{{ pageCont.tuesday|raw }}</td>
			<td>{{ pageCont.wednesday|raw }}</td>
			<td>{{ pageCont.trursday|raw }}</td>
			<td>{{ pageCont.friday|raw }}</td>
		</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}