{% extends 'main_page/index.html.twig' %}
{% block title %}Вопрос-ответ{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Задать вопрос</h1>
    <div style="display: flex;" id="text-confirmation">
        <div>
            <p>Я подтверждаю свое согласие:</p>
            <p>На использование в качестве каналов передачи информации, содержащейся в обращении, открытых каналов связи сети Интернет.</p>
            <p><a href="https://www.rg.ru/documents/2006/07/29/personaljnye-dannye-dok.html">На обработку моих персональных данных в соответствии с федеральным законом РФ от 27.07.2006 № 152-ФЗ "О персональных данных".</a></p>
            <p>В случае согласия с установленным порядком нажмите "Согласен" для продолжения работы. Если Вы не согласны, нажмите "Не согласен" для завершения работы.</p>
            <p>
                    <a  href="#" onclick="toggleVisibility()" id="btn-yes">Согласен</a>&nbsp; / &nbsp;<a href="/" class="btn btn-link">Не согласен</a>
            </p>
        </div>
    </div>
<div  style="display: none;" id="div-otziv" class="news-div-1">
    {# Шаблон вопроса #}
    {{ form_start(form) }}

    <div style="width: 350px;" class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div style="width: 350px;" class="form-group">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.phone) }}
    </div>
    <div style="width: 350px;" class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>
    
    <div style="width: 350px;" class="form-group">
        {{ form_label(form.text_question) }}
        {{ form_widget(form.text_question, {'attr': {'class': 'form-control', 'rows': 4}}) }}
        {{ form_errors(form.text_question) }}
    </div>
    
    <div style="width: 350px;" class="form-group">
        {{ form_label(form.file) }}
        {{ form_widget(form.file, {'attr': {'class': 'form-control-file'}}) }}
        {{ form_errors(form.file) }}
    </div>
    
    <button type="submit" class="btn btn-primary">Отправить</button>
{{ form_end(form) }}
</div>

{% for pageCont in pageData|reverse %}
    {% if pageCont is not empty %}
<div style="display: flex;flex-direction: column;align-items: center;" class="all-answer-question">

<div style="width: 80%;" class="news-div-1">

    <div  class="news-div">
                    <div class="news-date-div">
                        <div class="news-border"></div>
                        <div class="news-date">
                            {{ pageCont.date|date('d.m.Y')|raw }}
                            {{ pageCont.name|raw }}
                        </div>
                        <div class="news-number">
                        <p>вопрос <strong>№{{ pageCont.id|raw }}</strong></p>
                        </div>
                    </div>
                    <div class="news-label">
                        <p>{{ pageCont.textQuestion|raw }}</p>
                        <br>
                        <br>
                        {% if pageCont.file is not empty %}
                            <a href="{{asset('/assets/upload/files/')}}{{ pageCont.file|raw }}">Вложенный файл</a>
                        {% endif %}
                    </div>

    </div>
    
</div>
    {# Шаблон ответа #}
        <div style="width: 80%;" class="news-div-1-1">
    <div class="news-div">
                    <div class="news-date-div">
                        <div class="news-border"></div>
                        <div class="news-date">
                            {{ pageCont.dateAnswer|date('d.m.Y')|raw }}
                            {{ pageCont.nameAnswer|raw }}
                        </div>
                        <div class="news-number">
                        <p>ответ на вопрос <strong>№{{ pageCont.id|raw }}</strong></p>
                        </div>
                    </div>
                    <div class="news-label">
                        <p class="QandA">{{ pageCont.textAnswer|raw }}</p>
                        <br>
                        <br>
                    </div>

    </div>
    </div>
</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}