{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Вакантные места для приёма (перевода) обучающихся</h1>
<div class="contactPod-table">
    <table class="table">
	<thead>
        <tr>
		{% for pageCont in pageData2 %}
            {% if pageCont is not empty %}
            	<th rowspan="1">Наличие вакантных  мест в колледже по состоянию на {{ pageCont.date|date('d.m.Y')|raw }}</th>
			{% endif %}
		{% endfor %}
        </tr>
		<tr>
			<th rowspan="2">Курс</th>
			<th rowspan="2">Профессия / Специальность</th>
            <th rowspan="2">Программа обучения на базе</th>
			<th rowspan="2">Количество бюджетных мест</th>
			<th rowspan="2">Количество внебюджетных мест</th>
		</tr>
	</thead>
	<tbody>
{% for pageCont in pageData1 %}
    {% if pageCont is not empty %}
	<tr>
		<td style="text-align: center;" colspan="5"><strong>1 курс</strong></td>
	</tr>
		<tr>
			<td>{{ pageCont.course|raw }}</td>
			<td>{{ pageCont.professioSpecialty|raw }}</td>
			<td>{{ pageCont.basedTrainingProgram|raw }}</td>
			<td>{{ pageCont.countBudgetPlaces|raw }}</td>
			<td>{{ pageCont.countPayPlaces|raw }}</td>
		</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}