{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Документы</h1>
    
        <div>
            <div>
                <h3>Правоустанавливающие документы</h3>
                <div class="text-style">
                    <div>
                    {% for pageCont in pageData %}
                        {% if pageCont is not empty %}
                            {% if pageCont.titleCategory == '1' %} 
                            <i class="fa-regular fa-file-pdf">
                            <a href="{{'/assets/upload/files/' ~ pageCont.document|raw }}">{{pageCont.titleDocument}}</a>
                            </i>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <h3>Локальные акты</h3>
                <div class="text-style">
                    <div>
                        {% for pageCont in pageData %}
                        {% if pageCont is not empty %}
                            {% if pageCont.titleCategory == '2' %} 
                            <i class="fa-regular fa-file-pdf">
                            <a href="{{'/assets/upload/files/' ~ pageCont.document|raw }}">{{pageCont.titleDocument}}</a>
                            </i>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <h3>Коллективно - договорное регулирование</h3>
                <div class="text-style">
                    <div>
                        {% for pageCont in pageData %}
                        {% if pageCont is not empty %}
                            {% if pageCont.titleCategory == '3' %} 
                            <i class="fa-regular fa-file-pdf">
                            <a href="{{'/assets/upload/files/' ~ pageCont.document|raw }}">{{pageCont.titleDocument}}</a>
                            </i>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <h3>Финансовая деятельность</h3>
                <div class="text-style">
                    <div>
                        {% for pageCont in pageData %}
                        {% if pageCont is not empty %}
                            {% if pageCont.titleCategory == '4' %} 
                            <i class="fa-regular fa-file-pdf">
                            <a href="{{'/assets/upload/files/' ~ pageCont.document|raw }}">{{pageCont.titleDocument}}</a>
                            </i>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <h3>Отчёт о результатах самообследования</h3>
                <div class="text-style">
                    <div>
                        {% for pageCont in pageData %}
                        {% if pageCont is not empty %}
                            {% if pageCont.titleCategory == '5' %} 
                            <i class="fa-regular fa-file-pdf">
                            <a href="{{'/assets/upload/files/' ~ pageCont.document|raw }}">{{pageCont.titleDocument}}</a>
                            </i>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <h3>Результаты проверок</h3>
                <div class="text-style">
                    <div>
                        {% for pageCont in pageData %}
                        {% if pageCont is not empty %}
                            {% if pageCont.titleCategory == '6' %} 
                            <i class="fa-regular fa-file-pdf">
                            <a href="{{'/assets/upload/files/' ~ pageCont.document|raw }}">{{pageCont.titleDocument}}</a>
                            </i>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}