{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Документы</h1>
        <div class="label-contactPod">
            <div>
                <h3>Правоустанавливающие документы</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3>Локальные акты</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3>Коллективно - договорное регулирование</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3>Финансовая деятельность</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3>Отчёт о результатах самообследования</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3>Результаты проверок</h3>
                <div class="text-style">
                    <div>
                        <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}