{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Образование</h1>
    <div >
        <div class="label-contactPod">
            <h3>Язык преподаваня</h3>
            <p>Русский язык</p>
        </div>
        <div>
            <h3 class="label-contactPod">Сведения о реализации образовательных программ</h3>
        <div class="contactPod-table">
            <table class="table">
                        <thead>
                        <tr>
                            <th rowspan="2">Уровень образования</th>
                            <th rowspan="2">Нормативный срок обучения</th>
                            <th colspan="2">Количество обучающихся</th>
                            <th rowspan="2">Численность обучающихся, являющихся иностранными гражданами</th>
                        </tr>
                        <tr>
                            <th >
                                За счет средств бюджета
                            </th>
                            <th >
                                По договорам
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for pageCont in pageData1 %}
                        {% if pageCont is not empty %}
                            <tr>
                                <td>Cреднее профессиональное</td>
                                <td>{{pageCont.normativEdu|raw}}</td>
                                <td>{{pageCont.budget|raw}}</td>
                                <td>{{pageCont.contract|raw}}</td>
                                <td>{{pageCont.countForeign|raw}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
        <div >
            <h3 class="label-contactPod">Сведения о реализации образовательных программ дополнительного образования</h3>
            {% for pageCont in pageData2 %}
        {% if pageCont is not empty %}
            <p class="label-contactPod">Дата актуальности данных: {{ pageCont.dataRevevance|date('d.m.Y')|raw }}</p>
        {% endif %}
    {% endfor %}
        <div class="label-contactPod" >
            <div class="tab-page-student">   
                    <input id="tab-one1" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one1">Техническая направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            {% for pageCont in pageData3 %}
                                {% if pageCont is not empty %}
                                    {% if pageCont.category =='1' %}
                                        <tr>
                                            <td>{{ pageCont.typeActivity|raw }}</td>
                                            <td>{{ pageCont.nameAssociation|raw }}</td>
                                            <td>{{ pageCont.groupName|raw }}</td>
                                            <td>{{ pageCont.programCategory|raw }}</td>
                                            <td>{{ pageCont.age|raw }}</td>
                                            <td>{{ pageCont.fioTeacher|raw }}</td>
                                            <td>{{ pageCont.trainingFree|raw }}</td>
                                            <td>{{ pageCont.durationTraining|raw }}</td>
                                            <td>{{ pageCont.formLesson|raw }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one2" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one2">Физкультурно-спортивная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            {% for pageCont in pageData3 %}
                                {% if pageCont is not empty %}
                                    {% if pageCont.category =='2' %}
                                        <tr>
                                            <td>{{ pageCont.typeActivity|raw }}</td>
                                            <td>{{ pageCont.nameAssociation|raw }}</td>
                                            <td>{{ pageCont.groupName|raw }}</td>
                                            <td>{{ pageCont.programCategory|raw }}</td>
                                            <td>{{ pageCont.age|raw }}</td>
                                            <td>{{ pageCont.fioTeacher|raw }}</td>
                                            <td>{{ pageCont.trainingFree|raw }}</td>
                                            <td>{{ pageCont.durationTraining|raw }}</td>
                                            <td>{{ pageCont.formLesson|raw }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one3" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one3">Естественно-научная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                               <div class="contactPod-table">
                                    <table class="table">
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            {% for pageCont in pageData3 %}
                                {% if pageCont is not empty %}
                                    {% if pageCont.category =='3' %}
                                        <tr>
                                            <td>{{ pageCont.typeActivity|raw }}</td>
                                            <td>{{ pageCont.nameAssociation|raw }}</td>
                                            <td>{{ pageCont.groupName|raw }}</td>
                                            <td>{{ pageCont.programCategory|raw }}</td>
                                            <td>{{ pageCont.age|raw }}</td>
                                            <td>{{ pageCont.fioTeacher|raw }}</td>
                                            <td>{{ pageCont.trainingFree|raw }}</td>
                                            <td>{{ pageCont.durationTraining|raw }}</td>
                                            <td>{{ pageCont.formLesson|raw }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one4" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one4">Социально-гуманитарная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            {% for pageCont in pageData3 %}
                                {% if pageCont is not empty %}
                                    {% if pageCont.category =='4' %}
                                        <tr>
                                            <td>{{ pageCont.typeActivity|raw }}</td>
                                            <td>{{ pageCont.nameAssociation|raw }}</td>
                                            <td>{{ pageCont.groupName|raw }}</td>
                                            <td>{{ pageCont.programCategory|raw }}</td>
                                            <td>{{ pageCont.age|raw }}</td>
                                            <td>{{ pageCont.fioTeacher|raw }}</td>
                                            <td>{{ pageCont.trainingFree|raw }}</td>
                                            <td>{{ pageCont.durationTraining|raw }}</td>
                                            <td>{{ pageCont.formLesson|raw }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one5" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one5">Туристско-краеведческая направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            {% for pageCont in pageData3 %}
                                {% if pageCont is not empty %}
                                    {% if pageCont.category =='5' %}
                                        <tr>
                                            <td>{{ pageCont.typeActivity|raw }}</td>
                                            <td>{{ pageCont.nameAssociation|raw }}</td>
                                            <td>{{ pageCont.groupName|raw }}</td>
                                            <td>{{ pageCont.programCategory|raw }}</td>
                                            <td>{{ pageCont.age|raw }}</td>
                                            <td>{{ pageCont.fioTeacher|raw }}</td>
                                            <td>{{ pageCont.trainingFree|raw }}</td>
                                            <td>{{ pageCont.durationTraining|raw }}</td>
                                            <td>{{ pageCont.formLesson|raw }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one6" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one6">Художественная направленность</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th >Вид деятельности</th>
                                            <th >Название объединения</th>
                                            <th >Название группы</th>
                                            <th >Категория программы</th>
                                            <th >Возрастная группа обучающихся (лет)</th>
                                            <th >ФИО Педагога</th>
                                            <th >Бесплатное ли обучение</th>
                                            <th >Срок обучения</th>
                                            <th >Форма занятия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            {% for pageCont in pageData3 %}
                                {% if pageCont is not empty %}
                                    {% if pageCont.category =='6' %}
                                        <tr>
                                            <td>{{ pageCont.typeActivity|raw }}</td>
                                            <td>{{ pageCont.nameAssociation|raw }}</td>
                                            <td>{{ pageCont.groupName|raw }}</td>
                                            <td>{{ pageCont.programCategory|raw }}</td>
                                            <td>{{ pageCont.age|raw }}</td>
                                            <td>{{ pageCont.fioTeacher|raw }}</td>
                                            <td>{{ pageCont.trainingFree|raw }}</td>
                                            <td>{{ pageCont.durationTraining|raw }}</td>
                                            <td>{{ pageCont.formLesson|raw }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        </div>
        <div>
        <h3 class="label-contactPod">Сведения о результатах приема</h3>
        <div class="contactPod-table">
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2">Наименование профессии/специальности</th>
                        <th colspan="2">Количество поступивших</th>
                        <th rowspan="2">Средняя сумма баллов по всем вступительным испытаниям (при наличии)</th>
                        <th colspan="2">Сведения о результатах</th>
                        <th rowspan="2">Сведения о результатах перевода</th>
                    </tr>
                    <tr>
                        <th>За счет средств бюджета</th>
                        <th>По договорам</th>
                        <th>Восстановления</th>
                        <th>Отчисления</th>
                    </tr>
                </thead>
                <tbody>
            {% for pageCont in pageData4 %}
                {% if pageCont is not empty %}
                    <tr>
                        <td>{{ pageCont.specialties|raw }}</td>
                        <td>{{ pageCont.budget|raw }}</td>
                        <td>{{ pageCont.contract|raw }}</td>
                        <td>{{ pageCont.avgBall|raw }}</td>
                        <td>{{ pageCont.recovery|raw }}</td>
                        <td>{{ pageCont.deductions|raw }}</td>
                        <td>{{ pageCont.translation|raw }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <div>
            <div class="label-contactPod">
                <h4>ЛИЦЕНЗИЯ НА ПРАВО ВЕДЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ:</h4>
                <div class="text-style">
                    <div>
                        {% for pageCont in pageData5 %}
                        {% if pageCont is not empty %}
                            <i class="fa-regular fa-file-pdf">
                            <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">Лицензия на осуществление образовательной деятельности / выписка из реестра лицензий</a>
                            </i>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div>
           <div class="label-contactPod">
                <h4>СВИДЕТЕЛЬСТВО О ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ:</h4>
                <div class="contactPod-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>серия:</th>
                                    <th>№</th>
                                    <th>Рег.номер</th>
                                    <th>дата окончания срока действия:</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for pageCont in pageData5 %}
                                {% if pageCont is not empty %}
                                    <tr>
                                        <td>{{ pageCont.series|raw }}</td>
                                        <td>{{ pageCont.number|raw }}</td>
                                        <td>{{ pageCont.regNumber|raw }}</td>
                                        <td>{{ pageCont.date|raw }}</td>
                                    </tr>  
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <div>
            <h3 class="label-contactPod">Формы обучения</h3>
        <div class="contactPod-table">
            <table class="table">
                <thead>
                    <tr><th>Форма обучения:</th></tr>
                </thead>
                <tbody>
                    <tr><th>Очная</th></tr>
                    <tr><th>Заочная</th></tr>
                    <tr><th>Дистанционная</th></tr>  
                </tbody>
            </table>
        </div>
        </div>
        <div class="tab-content">
            <div class="text-style">
                <div class="label-contactPod"> 
                    {% for pageCont in pageData6 %}
                        {% if pageCont is not empty %}
                            <i class="fa-regular fa-file-pdf">
                                <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">Положение (инструкция) об организации дистанционного обучения</a>
                            </i>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> 
        </div>
        <div class="label-contactPod">
         <div class="tab-page-student">   
            <input id="tab-one14" type="checkbox" name="tabs">
            <label class="label-tab-for-other-pages" for="tab-one14">ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</label>
            <div class="tab-content">
            <div class="tab-page-doc">   
                    <input id="tab-one9" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one9">ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                        <div class="tab-content">
                            <div class="tab-page-doc">   
                                    <input id="tab-one15" type="checkbox" name="tabs">
                                        <label class="label-tab-for-other-pages" for="tab-one15">СРЕДНЕЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                        <div class="tab-content-doc">
                                            <div class="text-style">
                                                <div class="label-contactPod"> 
                                                     {% for pageCont in pageData7 %}
                                                        {% if pageCont is not empty %}
                                                            {% if pageCont.category == '1' %} 
                                                            <i class="fa-regular fa-file-pdf">
                                                            <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                            </i>&nbsp;
                                                            <i class="fa-regular fa-file-pdf">
                                                            <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                            </i>
                                                        {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                        </div>
                                        </div>
                            </div>
                            
                            <div class="tab-page-doc">   
                                    <input id="tab-one16" type="checkbox" name="tabs">
                                        <label class="label-tab-for-other-pages" for="tab-one16">ПРОФЕССИОНАЛЬНАЯ ПОДГОТОВКА</label>
                                        <div class="tab-content-doc">
                                            <div class="text-style">
                                                <div class="label-contactPod"> 
                                                    {% for pageCont in pageData7 %}
                                                        {% if pageCont is not empty %}
                                                            {% if pageCont.category == '1' %} 
                                                            <i class="fa-regular fa-file-pdf">
                                                            <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                            </i>&nbsp;
                                                            <i class="fa-regular fa-file-pdf">
                                                            <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                            </i>
                                                        {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                        </div>
                                        </div>
                            </div>
                      </div>

                      </div>
                <div class="tab-page-doc">   
                    <input id="tab-one17" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one17">ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ</label>
                            <div class="tab-content">
                                <div class="tab-page-doc">   
                                    <input id="tab-one18" type="checkbox" name="tabs">
                                        <label class="label-tab-for-other-pages" for="tab-one18">ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ ДЕТЕЙ</label>
                                            <div class="tab-content">
                                                <div class="tab-page-doc">   
                                                    <input id="tab-one20" type="checkbox" name="tabs">
                                                        <label class="label-tab-for-other-pages" for="tab-one20">ТЕХНИЧЕСКАЯ НАПРАВЛЕННОСТЬ</label>
                                                            <div class="tab-content-doc">
                                                                <div class="text-style">
                                                                    <div class="label-contactPod"> 
                                                                        {% for pageCont in pageData8 %}
                                                                            {% if pageCont is not empty %}
                                                                                {% if pageCont.category == '1' %} 
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                                </i>&nbsp;
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                                                </i>
                                                                            {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div class="tab-page-doc">   
                                                    <input id="tab-one21" type="checkbox" name="tabs">
                                                        <label class="label-tab-for-other-pages" for="tab-one21">ФИЗКУЛЬТУРНО-СПОРТИВНАЯ НАПРАВЛЕННОСТЬ</label>
                                                            <div class="tab-content-doc">
                                                            <div class="text-style">
                                                                    <div class="label-contactPod"> 
                                                                        {% for pageCont in pageData8 %}
                                                                            {% if pageCont is not empty %}
                                                                                {% if pageCont.category == '2' %} 
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                                </i>&nbsp;
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                                                </i>
                                                                            {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div class="tab-page-doc">   
                                                    <input id="tab-one22" type="checkbox" name="tabs">
                                                        <label class="label-tab-for-other-pages" for="tab-one22">СОЦИАЛЬНО-ПЕДАГОГИЧЕСКАЯ НАПРАВЛЕННОСТЬ</label>
                                                            <div class="tab-content-doc">
                                                            <div class="text-style">
                                                                    <div class="label-contactPod"> 
                                                                        {% for pageCont in pageData8 %}
                                                                            {% if pageCont is not empty %}
                                                                                {% if pageCont.category == '3' %} 
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                                </i>&nbsp;
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                                                </i>
                                                                            {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div class="tab-page-doc">   
                                                    <input id="tab-one23" type="checkbox" name="tabs">
                                                        <label class="label-tab-for-other-pages" for="tab-one23">ХУДОЖЕСТВЕННАЯ НАПРАВЛЕННОСТЬ</label>
                                                            <div class="tab-content-doc">
                                                            <div class="text-style">
                                                                    <div class="label-contactPod"> 
                                                                        {% for pageCont in pageData8 %}
                                                                            {% if pageCont is not empty %}
                                                                                {% if pageCont.category == '4' %} 
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                                </i>&nbsp;
                                                                                <i class="fa-regular fa-file-pdf">
                                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                                                </i>
                                                                            {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                </div>
                                <div class="tab-page-doc">   
                                    <input id="tab-one19" type="checkbox" name="tabs">
                                        <label class="label-tab-for-other-pages" for="tab-one19">ДОПОЛНИТЕЛЬНОЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                            <div class="tab-content-doc">
                                            <div class="text-style">
                                                <div class="label-contactPod"> 
                                                    {% for pageCont in pageData8 %}
                                                        {% if pageCont is not empty %}
                                                            {% if pageCont.category == '5' %} 
                                                                <i class="fa-regular fa-file-pdf">
                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                </i>&nbsp;
                                                                <i class="fa-regular fa-file-pdf">
                                                                <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                                </i>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            </div>
                                </div>                        
                            </div>
            </div>
                            </div>
            </div>
            </div>
            </div>
        </div>
        </div>         
        </div>
        <div class="label-contactPod">
            <div class="tab-page-student">   
                    <input id="tab-one11" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one11">ИНФОРМАЦИЯ О РАБОЧИХ ПРОГРАММАХ</label>
                        <div class="tab-content">
                            <div class="tab-page-doc">   
                                <input id="tab-one24" type="checkbox" name="tabs">
                                    <label class="label-tab-for-other-pages" for="tab-one24">ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                        <div class="tab-content-doc">
                                                <div class="tab-page-doc">   
                                                    <input id="tab-one25" type="checkbox" name="tabs">
                                                        <label class="label-tab-for-other-pages" for="tab-one25">СРЕДНЕЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                                            <div class="tab-content-doc">
                                                               <div class="text-style">
                                                                    <div class="label-contactPod"> 
                                                                        {% for pageCont in pageData9 %}
                                                                            {% if pageCont is not empty %}
                                                                                    <i class="fa-regular fa-file-pdf">
                                                                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                                    </i>&nbsp;
                                                                                    <i class="fa-regular fa-file-pdf">
                                                                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.description|raw }}">Описание образовательной программы</a>
                                                                                    </i>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div> 
                                                            </div>
                        </div> 
                                        </div>
                        </div> 
                        </div>
                    </div>
        </div>
        <div class="label-contactPod">
            <div class="tab-page-student">   
                    <input id="tab-one26" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one26">УЧЕБНЫЙ ПЛАН</label>
                        <div class="tab-content">
                            <div class="tab-page-doc">   
                                <input id="tab-one27" type="checkbox" name="tabs">
                                    <label class="label-tab-for-other-pages" for="tab-one27">ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                        <div class="tab-content-doc">
                                                <div class="tab-page-doc">   
                                                    <input id="tab-one28" type="checkbox" name="tabs">
                                                        <label class="label-tab-for-other-pages" for="tab-one28">СРЕДНЕЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                                            <div class="tab-content-doc">
                                                               <div class="text-style">
                                                                    <div class="label-contactPod"> 
                                                                        {% for pageCont in pageData10 %}
                                                                            {% if pageCont is not empty %}
                                                                                    <i class="fa-regular fa-file-pdf">
                                                                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                                    </i>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div> 
                                                            </div>
                        </div> 
                                        </div>
                        </div> 
                        </div>
                    </div>
        </div>
        <div class="label-contactPod">
            <div class="tab-page-student">   
                    <input id="tab-one29" type="checkbox" name="tabs">
                        <label class="label-tab-for-other-pages" for="tab-one29">УЧЕБНЫЙ ПЛАН</label>
                        <div class="tab-content">
                            <div class="tab-page-doc">   
                                <input id="tab-one30" type="checkbox" name="tabs">
                                    <label class="label-tab-for-other-pages" for="tab-one30">ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                        <div class="tab-content-doc">
                                                <div class="tab-page-doc">   
                                                    <input id="tab-one31" type="checkbox" name="tabs">
                                                        <label class="label-tab-for-other-pages" for="tab-one31">СРЕДНЕЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАНИЕ</label>
                                                            <div class="tab-content-doc">
                                                               <div class="text-style">
                                                                    <div class="label-contactPod"> 
                                                                        {% for pageCont in pageData11 %}
                                                                            {% if pageCont is not empty %}
                                                                                    <i class="fa-regular fa-file-pdf">
                                                                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                                                                    </i>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div> 
                                                            </div>
                        </div> 
                                        </div>
                        </div> 
                        </div>
                    </div>
        </div>
    </div>
    </div>

{% endblock %}