{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Платежные реквизиты</h1>

    <div class="label-contactPod">
        <h3>Лицевой счет учреждения</h3>
        <div class="contactPod-table">
        <table class="table">
            <thead>
                <tr>
                            <td>№ п/п</td>
                            <td>Тип лицевого счета</td>
                            <td>Орган ФКУ</td>
                            <td>№ лицевого счета</td>
                </tr>
            </thead>
            <tbody>
                {% set pp = 0 %}
                {% for pageCont in pageData1 %}
                    {% if pageCont is not empty %}
                        {% set pp = pp + 1 %}
                        <tr>
                            <td>{{pp}}</td>
                            <td>{{pageCont.type|raw}}</td>
                            <td>{{pageCont.fky|raw}}</td>
                            <td>{{pageCont.number|raw}}</td>
                        </tr>
                     {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="label-contactPod">
        <h3>Расчетный счет учреждения</h3>
        <div class="contactPod-table">
        <table class="table">
            <thead>
                <tr>
                            <td>№ п/п</td>
                            <td>Наименование банка</td>
                            <td>Отделение банка</td>
                            <td>№ расчетного счета</td>
                            <td>№ корреспондентского счета</td>
                            <td>БИК</td>
                </tr>
            </thead>
            <tbody>
                {% set pp = 0 %}
                {% for pageCont in pageData2 %}
                    {% if pageCont is not empty %}
                        {% set pp = pp + 1 %}
                        <tr>
                            <td>{{pp}}</td>
                            <td>{{pageCont.name|raw}}</td>
                            <td>{{pageCont.otdel|raw}}</td>
                            <td>{{pageCont.numberPayment|raw}}</td>
                            <td>{{pageCont.numberKorr|raw}}</td>
                            <td>{{pageCont.bik|raw}}</td>
                        </tr>
                     {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
        <br>
        <div class="contactPod-table">
        <table class="table">
            <thead>
                <tr>
                            <td>ИНН</td>
                            <td>КПП</td>
                            <td>ОКАТО</td>
                            <td>ОГРН</td>
                            <td>ОКТМО</td>
                </tr>
            </thead>
            <tbody>
                {% for pageCont in pageData3 %}
                    {% if pageCont is not empty %}
                        <tr>
                            <td>{{pageCont.inn|raw}}</td>
                            <td>{{pageCont.kpp|raw}}</td>
                            <td>{{pageCont.okato|raw}}</td>
                            <td>{{pageCont.ogrn|raw}}</td>
                            <td>{{pageCont.oktmo|raw}}</td>
                        </tr>
                     {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}