

{% extends 'main_page/index.html.twig' %}

{% block main %}

    <h1 class="label-contactPod">Публичный доклад руководителя</h1>
    <div class="contactPod-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th colspan="2">Время работы</th>
                    <th>Специалист</th>
                    <th>Контактный телефон</th>
                </tr>
            </thead>
            <tbody>
                {% for pageCont in pageData %}
                    {% if pageCont is not empty %}
                        <tr>
                            <td>{{pageCont.name|raw}}</td>
                            <td>{{pageCont.day|raw}}</td>
                            <td>{{pageCont.time|raw}}</td>
                            <td>{{pageCont.special|raw}}</td>
                            <td>{{pageCont.phone|raw}}</td>
                        </tr>
                     {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}