{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Приемная комиссия</h1>

    <div class="label-contactPod">
{% for pageCont in pageData1 %}
    {% if pageCont is not empty %}
        <img class = "img" src="{{'/assets/upload/img/'}}{{ pageCont.photo|raw }}" alt="">
        <p>{{ pageCont.text|raw}}</p>
        <p>Звоните:&nbsp;{{ pageCont.phone|raw}}</p>
        <p>Пишите:&nbsp;{{ pageCont.email|raw}}</p>
        <p>Адрес:&nbsp;{{ pageCont.address|raw}}</p>
        <p>График работы:&nbsp;{{ pageCont.schedule|raw}}</p>
    {% endif %}
{% endfor %}

    
    </div>
<div class="label-contactPod" >
    <div class="table-space">
        <div class="tab-page-student">   
            <input id="tab-one" type="checkbox" name="tabs">
                <label  for="tab-one">Поступление в колледж</label>
                    <div class="tab-content">
                        <div class="tab-content-first-page-student">
                            {% for pageCont in pageData2 %}
                                {% if pageCont is not empty %}
                                     <p>{{ pageCont.text|raw}}</p>
                                            <div class="tab-page-student">   
                                                <input id="tab-one2" type="checkbox" name="tabs">
                                                    <label  for="tab-one2">Документы для граждан РФ</label>
                                                        <div class="tab-content">
                                                            <div class="tab-content-first-page-student">
                                                                {% for pageCont in pageData2 %}
                                                                    {% if pageCont is not empty %}
                                                                        <p>{{ pageCont.documentsRf|raw}}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="tab-page-student">   
                                                <input id="tab-one3" type="checkbox" name="tabs">
                                                    <label  for="tab-one3">Документы для иностранных граждан</label>
                                                        <div class="tab-content">
                                                            <div class="tab-content-first-page-student">
                                                                {% for pageCont in pageData2 %}
                                                                    {% if pageCont is not empty %}
                                                                        <p>{{ pageCont.documentsForeign|raw}}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                        <p>{{ pageCont.textTwo|raw}}</p>
                                            <div class="tab-page-student">   
                                                <input id="tab-one4" type="checkbox" name="tabs">
                                                    <label  for="tab-one4">Стоимость обучения на внебюджетной основе</label>
                                                        <div class="tab-content">
                                                            <div class="tab-content-first-page-student">
                                                                {% for pageCont in pageData2 %}
                                                                    {% if pageCont is not empty %}
                                                                        <p>{{ pageCont.costEducation|raw}}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                        <p>{{ pageCont.textThree|raw}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                 <div class="tab-page-student">   
                    <input id="tab-one5" type="checkbox" name="tabs">
                        <label  for="tab-one5">Нормативные документы Приемной комиссии</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">
                                {% for pageCont in pageData3 %}
                                    {% if pageCont is not empty %}
                                        <p>{{ pageCont.text|raw}}</p>
                                        {% for file in pageCont.file %}
                                            <div>
                                                <a href="{{ '/assets/upload/files/' ~ file|raw }}" alt="">{{file}}</a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <div class="tab-page-student">   
                    <input id="tab-one6" type="checkbox" name="tabs">
                        <label  for="tab-one6">Контрольные цифры приёма {{ "now"|date("Y") }}-{{ "now"|date("Y")+1 }}</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        
                                        <tr>
                                            <th rowspan="2">Класс</th>
                                            <th rowspan="2">Основа</th>
                                            <th rowspan="2">Специальность</th>
                                            <th rowspan="2">Срок обучения</th>
                                            <th rowspan="2">КЦП</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for pageCont in pageData5 %}
                                    {% if pageCont is not empty %}
                                        {% if pageCont.class == '9' and pageCont.basis == 'Бюджет' %}
                                            <tr>
                                                <td>{{pageCont.class|raw}}</td>
                                                <td>{{pageCont.basis|raw}}</td>
                                                <td>{{pageCont.speciality|raw}}</td>
                                                <td>{{pageCont.trainingPeriod|raw}}</td>
                                                <td>{{pageCont.cpc|raw}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                    {% set arB = 0 %}
                                    {% for item in pageData5 %}
                                        {% if item.basis == 'Бюджет' and item.class == '9' %}
                                            {% set arB = arB + item.cpc %}
                                        {% endif %}
                                    {% endfor %}
                                            <tr>
                                                <th>Всего(бюджет)</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th>{{ arB }}</th>
                                            </tr>
                                            {% for pageCont in pageData5 %}
                                    {% if pageCont is not empty %}
                                        {% if pageCont.class == '9' and pageCont.basis == 'Внебюджет' %}
                                            <tr>
                                                <td>{{pageCont.class|raw}}</td>
                                                <td>{{pageCont.basis|raw}}</td>
                                                <td>{{pageCont.speciality|raw}}</td>
                                                <td>{{pageCont.trainingPeriod|raw}}</td>
                                                <td>{{pageCont.cpc|raw}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                    {% set arС = 0 %}
                                    {% for item in pageData5 %}
                                        {% if item.basis == 'Внебюджет' and item.class == '9' %}
                                            {% set arС = arС + item.cpc %}
                                        {% endif %}
                                    {% endfor %}
                                            <tr>
                                                <th>Всего(внебюджет)</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th>{{ arС }}</th>
                                            </tr>
                                {# 11 #}
                                {% for pageCont in pageData5 %}
                                    {% if pageCont is not empty %}
                                        {% if pageCont.class == '11' and pageCont.basis == 'Бюджет' %}
                                            <tr>
                                                <td>{{pageCont.class|raw}}</td>
                                                <td>{{pageCont.basis|raw}}</td>
                                                <td>{{pageCont.speciality|raw}}</td>
                                                <td>{{pageCont.trainingPeriod|raw}}</td>
                                                <td>{{pageCont.cpc|raw}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                    {% set arB = 0 %}
                                    {% for item in pageData5 %}
                                        {% if item.basis == 'Бюджет' and item.class == '11' %}
                                            {% set arB = arB + item.cpc %}
                                        {% endif %}
                                    {% endfor %}
                                            <tr>
                                                <th>Всего(бюджет)</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th>{{ arB }}</th>
                                            </tr>
                                            {% for pageCont in pageData5 %}
                                    {% if pageCont is not empty %}
                                        {% if pageCont.class == '11' and pageCont.basis == 'Внебюджет' %}
                                            <tr>
                                                <td>{{pageCont.class|raw}}</td>
                                                <td>{{pageCont.basis|raw}}</td>
                                                <td>{{pageCont.speciality|raw}}</td>
                                                <td>{{pageCont.trainingPeriod|raw}}</td>
                                                <td>{{pageCont.cpc|raw}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                    {% set arС = 0 %}
                                    {% for item in pageData5 %}
                                        {% if item.basis == 'Внебюджет' and item.class == '11' %}
                                            {% set arС = arС + item.cpc %}
                                        {% endif %}
                                    {% endfor %}
                                            <tr>
                                                <th>Всего(внебюджет)</th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th>{{ arС }}</th>
                                            </tr>
                                
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
                 <div class="tab-page-student">   
                    <input id="tab-one7" type="checkbox" name="tabs">
                        <label  for="tab-one7">Проходные баллы прошлых лет</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <div class="contactPod-table">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                                </tr>
                                        <tr>
                                            <th rowspan="2">Класс</th>
                                            <th rowspan="2">Специальность</th>
                                            <th rowspan="2">Минимальные проходные баллы {{ "now"|date("Y")-1 }}</th>
                                            <th rowspan="2">Срок обучения</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pageCont in pageData6 %}
                                        {% if pageCont is not empty %}
                                            {% if pageCont.class == '9' %}
                                                <tr>
                                                    <td>{{pageCont.class|raw}}</td>
                                                    <td>{{pageCont.speciality|raw}}</td>
                                                    <td>{{pageCont.minimalBall|raw}}</td>
                                                    <td>{{pageCont.trainingPeriod|raw}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for pageCont in pageData6 %}
                                        {% if pageCont is not empty %}
                                            {% if pageCont.class == '11' %}
                                                <tr>
                                                    <td>{{pageCont.class|raw}}</td>
                                                    <td>{{pageCont.speciality|raw}}</td>
                                                    <td>{{pageCont.minimalBall|raw}}</td>
                                                    <td>{{pageCont.trainingPeriod|raw}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    
            </div>
            <div class="tab-page-student">   
                    <input id="tab-one8" type="checkbox" name="tabs">
                        <label  for="tab-one8">Медицинский осмотр для поступления</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student"> 
                                <p></p>                           
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one9" type="checkbox" name="tabs">
                        <label  for="tab-one9">Перевод в колледж из другого учебного заведения</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                 <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-page-student">   
                    <input id="tab-one10" type="checkbox" name="tabs">
                        <label  for="tab-one10">Переводы внутри колледжа</label>
                        <div class="tab-content">
                            <div class="tab-content-first-page-student">                            
                                <p></p>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
        <div class="label-contactPod">
            <div class="text-style">
                                <div class="label-contactPod">
                                    <i class="fa-regular fa-file-pdf"><a href="{{'/assets/upload/files/' }}"></a></i>
                                </div>
                            </div>
        </div>
    </div>
{% endblock %}