{% extends 'main_page/index.html.twig' %}
{% block title %}Дни открытых дверей{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Дни открытых дверей</h1>
{% for pageCont in pageData1 %}
    {% if pageCont is not empty %}
		<h3>{{pageCont.title|raw}}</h3>
		<p>{{pageCont.text|raw}}</p>
		<a href="{{pageCont.link|raw}}">{{pageCont.link|raw}}</a>
	{% endif %}
{% endfor %}
       <div class="contactPod-table">
    <table class="table">
	<thead>
		<tr>
			<th rowspan="2">Дата мероприятия</th>
			<th rowspan="2">Адрес проведения</th>
			<th rowspan="2">Описание </th>
			<th rowspan="2">Регистрация участников</th>
		</tr>
	</thead>
	<tbody>
{% for pageCont in pageData2 %}
    {% if pageCont is not empty %}
		<tr>
			<td>{{ pageCont.date|date('d-m-Y')|raw }}</td>
			<td>{{pageCont.address|raw}}</td>
			<td>{{pageCont.text|raw}}</td>
			<td>{{pageCont.register|raw}}</td>
		</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}