{% extends 'main_page/index.html.twig' %}

{% block main %}
    <h1 class="label-contactPod">Специальности и профессии</h1>
      <div class="label-contactPod" >
    <div>
        <h3>Программы обучения после 9 класса </h3>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
    {% if pageCont.class == '9' %}
        <div class="tab-page-student">
            
            <input id="tab-one{{pageCont.id|raw}}" type="checkbox" name="tabs">
                <label  for="tab-one{{pageCont.id|raw}}">{{pageCont.title|raw}}</label>
                <div class="tab-content">
                    <div class="tab-content-first-page-student">
                        <p>{{pageCont.text|raw}}</p>
                    </div>
                    </div>
                </div>
        </div>
    {% endif %}
    {% endif %}
{% endfor %}
<div>
        <h3>Программы обучения после 11 класса </h3>
{% for pageCont in pageData %}
    {% if pageCont is not empty %}
    {% if pageCont.class == '11' %}
        <div class="tab-page-student">
            
            <input id="tab-one{{pageCont.id|raw}}" type="checkbox" name="tabs">
                <label  for="tab-one{{pageCont.id|raw}}">{{pageCont.title|raw}}</label>
                    <div class="tab-content">
                    <div class="tab-content-first-page-student">
                        <p>{{pageCont.text|raw}}</p>
                    </div>
                    </div>
            </div>
            </div>
            </div>
    {% endif %}
    {% endif %}
{% endfor %}
<div>

{% endblock %}