{% extends 'main_page/index.html.twig' %}
{% block main %}
    <h1 class="label-contactPod">Защита персональных данных</h1>
        <div class="label-contactPod">
            <div>
                <h3 >Законы</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                         {% for pageCont in pageData %}
                            {% if pageCont is not empty %}
                                {% if pageCont.category == '1' %}
                                    <i class="fa-regular fa-file-pdf">
                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                    </i>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3 >Приказы</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                        {% for pageCont in pageData %}
                            {% if pageCont is not empty %}
                                {% if pageCont.category == '2' %}
                                    <i class="fa-regular fa-file-pdf">
                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                    </i>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
             <br>
            <div>
                <h3 >Указы, постановления, распоряжения</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                        {% for pageCont in pageData %}
                            {% if pageCont is not empty %}
                                {% if pageCont.category == '3' %}
                                    <i class="fa-regular fa-file-pdf">
                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                    </i>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
             <br>
            <div>
                <h3 >Рекомендации</h3>
                <div class="text-style">
                    <div class="label-contactPod">
                        {% for pageCont in pageData %}
                            {% if pageCont is not empty %}
                                {% if pageCont.category == '4' %}
                                    <i class="fa-regular fa-file-pdf">
                                    <a href="{{asset('/assets/upload/files/') ~ pageCont.file|raw }}">{{pageCont.title}}</a>
                                    </i>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}