{% extends 'main_page/index.html.twig' %}
{% block title %}Новости центра{% endblock %}
{% block main %}
    <h1 class="label-contactPod">Новости</h1>
 <div class="news-div-1">
 {% for pageCont in pageData %}
    {% if pageCont is not empty %}
        <div class="news-div">
                        <div class="news-date-div">
                            <div class="news-border"></div>
                            <div class="news-date">
                                {{ pageCont.date|date('d-m-Y')|raw }}
                            </div>
                        </div>
                        <div class="news-label">
                            <a href="{{'/alumniAdvocacyCenter/newscenter/'}}{{pageCont.id}}">{{pageCont.title}}</a>
                            <br>
                            <br>
                            <a href="{{'/alumniAdvocacyCenter/newscenter/'}}{{pageCont.id}}">подробнее</a>
                        </div>

        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}